/*
Project Name: Citypix version2
Client: cityPix
Author: John Webster
Developer @GA in MEL
*/


/******************************************
/* SETUP
/*******************************************/


/* Box Model Hack */

* {
    -moz-box-sizing: border-box;
    /* Firexfox */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome/iOS/Android */
    box-sizing: border-box;
    /* IE */
}

/* Clear fix hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clear {
    clear: both;
}
.alignright {
    float: right;
    padding: 0 0 10px 10px;
    /* note the padding around a right floated image */
}
.alignleft {
    float: left;
    padding: 0 10px 10px 0;
    /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    color: #000;
    font-size: 12px;
    line-height: 1.4;
    font-family: Helvetica, Arial, sans-serif;
    background: url(../images/citipix_skyline.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/******************************************
/* LAYOUT
/*******************************************/


/* Center the container */

.container {
    width: 960px;
    margin: auto;
    padding-top: 5em;
}
header {
    background: rgba(0, 0, 0, .5);
    padding: 20px 0;
}
.title {
    text-align: center;
    color: #fff;
    font-size: 38px;
    font-weight: bold;
    font-family: helvetica, arial, sans-serif;
}
.title p {
    font-size: 22px;
    font-weight: normal
}
form {
    text-align: center;
}
#city-type {
    color: #6b6b6c;
    font-size: 38px;
    overflow: hidden;
    background: #ddd;
    border: 1px solid #111;
    padding: 5px;
    width: 450px;
    font-family: helvetica, arial, sans-serif;
    height: 72px;
    box-shadow: #111 0 0 20px;
}
.nyc {
    background-image: url(../images/nyc.jpg);
    transition: 1s;
    /*make it purdy*/
}
.sf {
    background-image: url(../images/sf.jpg);
    transition: 1s;
}
.la {
    background-image: url(../images/la.jpg);
    transition: 1s;
}
.austin {
    background-image: url(../images/austin.jpg);
    transition: 1s;
}
.sydney {
    background-image: url(../images/sydney.jpg);
    transition: 1s;
}

/******************************************
/* CATCH-ALL STYLE  - used when the inital option is reselcted to give a visual cue to pick an actual city
/*******************************************/

.cityPixDefault {
    background-image: url(../images/citipix_skyline.jpg);
    transition: 1s;
}
